p { 
    color: purple;
    font-size:48;
    font-family: Courier, "Courier New", serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
h1 { font: italic small-caps bold 24px "Times New Roman"; }