/* add your CSS here */
body {
    font-family: 'Times New Roman', Times, serif;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.border-box {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 5px 5px rgb(230, 230, 230);
    background-color: lightyellow;
    border-radius: 5px;
}
img {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 5px 5px;
}
#p-emphasized {
    font-style: italic;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
span {
    font-weight: bold;
}
#p-justify {
    text-align: justify;
}
.description-box{
    width: 278px;
    padding: 5px 10px;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 5px;
}
